<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .movieBoard {
      border: 1px solid grey;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-show="isLoading">로딩중...</div>
    <input v-model="targetDt"><button @click="searchMovie">검색</button>
    <div v-for="movie in movies" class="movieBoard">
      <span>{{movie.movieNm}}</span> <span @click="movieInfo(movie.movieCd)">{{movie.movieCd}}</span>
    </div>
    <div>actors : <span v-for="actor in actors">{{actor.peopleNm}}</span></div>
    <div>directors : <span v-for="director in directors">{{director.peopleNm}}</span></div>
  </div>
  <script>
    const url = 'https://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt=';
    const infoUrl = 'https://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=f5eef3421c602c6cb7ea224104795888&movieCd=';

    Vue.createApp({
      data() {
        return {movies: [{movieNm: '듄', movieCd: 200}],
                actors: [{peopleNm: '홍길동'}, {peopleNm: '김기자'}],
                directors: [{peopleNm: '나감독'}, {peopleNm: '이감독'}],
                isLoading: false,
                targetDt: ''}
      },
      created() {
        this.getMovies('20240603');
      },
      methods: {
        movieInfo(movieCd) {
          this.isLoading = true;
          fetch(infoUrl + movieCd)
          .then(res => res.json())
          .then(res => {
            this.actors = res.movieInfoResult.movieInfo.actors;
            this.directors = res.movieInfoResult.movieInfo.directors;
            this.isLoading = false;
          })
        },
        getMovies(dt) {
          this.isLoading = true;
          fetch(url + dt)
          .then(res => res.json())
          .then(res => {
            this.movies = res.boxOfficeResult.dailyBoxOfficeList;
            this.isLoading = false;
          })
        },
        searchMovie() {
          this.getMovies(this.targetDt);
        }
      }
    }).mount("#app");
  </script>
</body>
</html>